<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="principal"></ion-back-button>
    </ion-buttons>
    <ion-title>lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button (click)="testClick()">
      <ion-avatar slot="start">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
      </ion-avatar>
      <ion-label>
        Avatar Start, Button Item
      </ion-label>
    </ion-item>
    
    <ion-item href="#">
      <ion-label>
        Thumbnail End, Anchor Item
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
      </ion-thumbnail>
    </ion-item>
    
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
      </ion-thumbnail>
      <ion-label>
        <h2>H2 Title Text</h2>
        <p>Button on right</p>
      </ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
    
    <ion-item button (click)="testClick()">
      <ion-thumbnail slot="start">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
      </ion-thumbnail>
      <ion-label>
        <h3>H3 Title Text</h3>
        <p>Icon on right</p>
      </ion-label>
      <ion-icon name="close-circle" slot="end"></ion-icon>
    </ion-item>
  
  </ion-list>
</ion-content>
