<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="principal"></ion-back-button>
    </ion-buttons>
    <ion-title>input</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-label color="danger">Iniciar Sesión</ion-label>
  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input placeholder="ingrese usuario" clearInput ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input placeholder="ingrese contrrseña" clearInput></ion-input>
  </ion-item>

  <ion-button expand="full" >Ingresar</ion-button>
</ion-content>
